* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 80vh;
    
}

header {
    width: 100%;
    height: 20%;
    background-color: #FFB737;
    color: #ECE6D6;
    padding-left: 2%;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
    
}

nav {
    width: 10%;
    height: 70%;
    background-color:#1F3B58;
    color: #ECE6D6;
    padding: 0% 5% 0% 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    width: 80%;
    height: 70%;
    background-color: #ECE6D6;
    color: #1F3B58;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
}

figure{
    position: absolute;
    top: 10%;
    right: 5%;
}

footer {
    width: 100%;
    height: 4%;
    flex-grow: 1;
    background-color: #FF6D41;
    text-align: right;
    font-size: x-small;
    color: #FFB737;
    padding: 2%;
    border-radius: 0px 0px 10px 10px;
    
}

ul {
    list-style-type: none;
}

a {
    color: #ECE6D6;
    text-decoration: none;
}

a:hover {
    color: #FF6D41;
}

.img_profil {
    width: 20%;
    float: right;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #1F3B58;
}

.container {
    margin: 5% 20%;
    display: flex;
    flex-wrap: wrap;
    height: 75%;
    box-shadow: 0px 0px 5px #1F3B58;
    border-radius: 10px;
    position: relative;
    
}

.button {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

#change-css {
    background-color: green;
    color: white;
    padding: 10%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px #1F3B58;
}

#change-css:hover {
    background-color: red;
}